@keyframes slideInFromBottom{
    100% {
        transform: translateY(0);
      }
      0% {
          transform: translateY(100%);
        }
}

.card-body{
    animation: 1s ease-out slideInFromBottom;

}