<div class="container p-3" style="background-color: rgb(223, 219, 219);">
    <div class="jumbotron"  style="background-color: white;border: solid;border-image: linear-gradient(45deg, black, white,black) 1">
        <h1 class="display-4 text-center"><strong>{{ course.name }}</strong></h1>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="fluid p-4" id="headline" style="color: white;background-image: linear-gradient(to left,black,darkblue);">
            <h4>Author: {{ course.enroll.author}}</h4>
            <h5>{{ course.enroll.no }}</h5>
        </div>
        <hr>
        <div class="text pt-2">
            <h3><span class="p-2 pr-4" style="background-image: linear-gradient(to left,black,darkblue);border-top-right-radius: 2rem;border-bottom-right-radius: 2rem;color: white;">About this Course</span></h3>
            <br>
            <p class="p-3" style="font-weight: 500;">{{ course.data }}</p>
        </div>
        <div class="skills p-5">
            <div class="container p-3" style="border: solid thin;">
                <h5>SKILLS YOU WILL GAIN: </h5>
                <ul class="d-flex p-3">
                    <li *ngFor="let skill of skills" style="list-style: none;"><span class="m-2 p-2"
                            style="border: solid thin white;border-radius: 1rem;background-image: linear-gradient(to right, white,silver,white);">{{ skill }}</span>
                    </li>
                </ul>
            </div>             
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="links text-center">
        <button style="background-image: linear-gradient(to left,blue,black);color: white;" (click)="goBack()" class="btn m-2" [disabled]="isFirst">Previous</button>
        <button style="background-image: linear-gradient(to right,blue,black);color: white;width: 85.66px;" (click)="goNext()" class="btn m-2" [disabled]="isLast">Next</button>
    </div>
</div>